@using Models
@model Models.ViewModels.EventManagementViewModel

@{
    ViewBag.Title = "Event Info page";
    Layout = "_Layout";

    // Make sure Students is not null
    Model.Event.Students = Model.Event.Students ?? new List<EventStudentRelationship>();
}

<div class="container" ng-controller="eventInfoCtrl">
    <div class="page-header">
        <h3>Count of RSVP students @(Model.Event.Students?.Count ?? 0)</h3>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Fullname</th>
            <th>Country</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model.Event.Students)
        {
            <tr>
                <td>@student.Student.Fullname</td>
                <td>@student.Student.Country</td>
                <td>@student.Student.Email</td>
                <td>
                    <button class="btn btn-danger" ng-click="unMapStudent(@Model.Event.Id, @student.StudentId)">
                        Remove RSVP
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <hr/>

    <div>
        <h3>Manually assign student</h3>

        @using (Html.BeginForm(FormMethod.Post, new {ng_submit = $"mapStudent($event, {Model.Event.Id}, studentId)"}))
        {
            <div class="form-group">
                <label>Available Students</label>
                @Html.DropDownList("student-map", Model.AvailableStudents.Select(x => new SelectListItem {Text = x.Fullname, Value = x.Id.ToString()}), new { @class = "form-control", ng_model = "studentId"})
            </div>
            
            <input class="btn btn-primary" type="submit" value="Add Student" />
        }
    </div>
    
    <hr/>

    <div>
        <h3>Sent Ad-Hoc email to RSVPed students</h3>

        @using (Html.BeginForm(FormMethod.Post, new {ng_submit = $"sendAdHocEmail($event, {Model.Event.Id}, emailSubject, emailBody)"}))
        {
            <div class="form-group">
                <label>Subject</label>
                <input type="text" class="form-control" ng-model="emailSubject" />
            </div>
            
            <div class="form-group">
                <label>Email body</label>
                <textarea class="form-control summernote" rows="5"></textarea>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Sent Email" />
        }
    </div>

</div>