@using Models.Constants
@model Models.Entities.Student
@inject GlobalConfigs GlobalConfigs;

@{
    ViewBag.Title = $"{DateTime.Now.Year} Free Tour of Milwaukee Registration";
    Layout = "_Layout";
}

<div class="text-center">
    <img class="img-responsive" src="~/images/Tour-of-Mke-Ads_App-Wide-compressed.png" alt="background" />
</div>

<div class="container">
    <div class="page-header">
        <h2 class="text-center">@(GlobalConfigs.TourDate.Year) Free Tour of Milwaukee Registration</h2>
        <h4 class="text-center">Date and Time: @(GlobalConfigs.TourDate.ToString("dddd, MMMM d")) at @(GlobalConfigs.TourDate.ToString("h:mm tt")) - 7:00 PM</h4>
        <h4 class="text-center">Location: <a href="https://goo.gl/maps/gBJSQqkXAUT7GwAT6" target="_blank">@(GlobalConfigs.TourLocation)</a></h4>
        <p class="text-center">
            Note that this is not a bus tour; it's a personal tour with 2-4 people in each vehicle. The tour concludes with a dinner at an American home.
        </p>
    </div>

    <br />
    
    @await Html.PartialAsync("SimpleAlertContent", ViewData)

    @using (Html.BeginForm("RegisterStudent", "Registration", FormMethod.Post, new { ng_controller = "studentRegistrationCtrl" }))
    {
        @(await Html.PartialAsync("StudentContent", Model, new ViewDataDictionary(ViewData) {{ "Type", "Save"}}))
        
        <input class="btn btn-primary" type="submit" value="Register For Tour" />
    }
</div>
