@using System.Globalization
@using API.Interfaces
@using Logic.Extensions
@using Models.Enums
@model IEnumerable<Models.Entities.User>
@inject IHttpRequestUtilityBuilder RequestUtilityBuilder;

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
    var userInfo = await RequestUtilityBuilder.For(Context).GetUserInfo();
}

<div class="container" ng-controller="userListCtrl">
    <div class="page-header">
        <h3>List of Users <small>(@Model.Count())</small></h3>

        @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
        {
            <div class="row">
                <div class="pull-right col-md-2 col-sm-2 clearfix">
                    <toggle ng-model="showDetail" on="Hide detail" off="Show detail" size="btn" onstyle="btn-success" offstyle="btn-danger" class="fast"></toggle>
                </div>
            </div>
        }
    </div>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>
                Fullname
                <a href="?sortBy=fullname&descending=false"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
                <a href="?sortBy=fullname&descending=true"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
            </th>
            <th>Email</th>
            <th>Phone</th>
            <th class="hidden-sm hidden-xs">Username</th>
            <th class="hidden-sm hidden-xs">Role</th>
            <th class="hidden-sm hidden-xs">LastLoggedInDate</th>

            @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
            {
                <th class="hidden-xs" ng-show="showDetail">Action</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            var disabled = userInfo.Username == user.UserName;

            <tr>
                <td>@user.Fullname</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td class="hidden-sm hidden-xs">@user.UserName</td>
                <td class="hidden-sm hidden-xs">@user.UserRoleEnum</td>
                <td class="hidden-sm hidden-xs">@user.LastLoggedInDate.ToCentralTime().DateTime.ToString(CultureInfo.InvariantCulture)</td>
                
                @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
                {
                    <td class="hidden-xs" ng-show="showDetail">
                        @if (disabled)
                        {
                            switch (user.UserRoleEnum)
                            {
                                case UserRoleEnum.Basic:
                                    <a href="" class="btn btn-primary btn-sm disabled">Set Admin</a>
                                    break;
                                case UserRoleEnum.Admin:
                                    <a href="" class="btn btn-primary btn-sm disabled">Set Basic</a>
                                    break;
                                default:
                                    throw new ArgumentOutOfRangeException();
                            }
                            <a href="" class="btn btn-danger btn-sm disabled">Delete</a>
                        }
                        else
                        {
                            switch (user.UserRoleEnum)
                            {
                                case UserRoleEnum.Basic:
                                    <a href="~/User/updateUserRole/@user.Id/@UserRoleEnum.Admin" class="btn btn-primary btn-sm">Set Admin</a>
                                    break;
                                case UserRoleEnum.Admin:
                                    <a href="~/User/UpdateUserRole/@user.Id/@UserRoleEnum.Basic" class="btn btn-primary btn-sm">Set Basic</a>
                                    break;
                                default:
                                    throw new ArgumentOutOfRangeException();
                            }
                            <a href="~/User/delete/@user.Id" class="btn btn-danger btn-sm" validate-before-going data-message="Are you sure to delete this user (@(user.Fullname))?">Delete</a>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>

</div>