@using API.Interfaces
@using Models.Enums
@model IEnumerable<Models.Entities.User>
@inject IHttpRequestUtilityBuilder RequestUtilityBuilder;

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
    var userInfo = await RequestUtilityBuilder.For(Context).GetUserInfo();

    var adminRole = UserRoleEnum.Admin.ToString();
    var basicRole = UserRoleEnum.Basic.ToString();
}

<div class="container" ng-controller="userListCtrl">
    <div class="page-header">
        <h3>List of Users <small>(@Model.Count())</small></h3>
        
        @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
        {
            <div class="row">
                <div class="pull-right col-md-2 col-sm-2 clearfix">
                    <toggle ng-model="showDetail" on="Hide detail" off="Show detail" size="btn" onstyle="btn-success" offstyle="btn-danger" class="fast"></toggle>
                </div>
            </div>
        }
    </div>
    
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Username</th>
            <th>Role</th>
            
            @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
            {
                <th class="hidden-xs" ng-show="showDetail">Action</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            var disabled = userInfo.Username == user.UserName;

            <tr>
                <td>@user.Fullname</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.UserName</td>
                <td>@user.UserRoleEnum</td>

                @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
                {
                    
                }
            </tr>
        }
        </tbody>
    </table>

</div>
