@using Microsoft.AspNetCore.Mvc.Rendering
@using Models.Constants
@model Models.ViewModels.Config.GlobalConfigViewModel

@{
    ViewBag.Title = "Configuration";
    Layout = "_Layout";
    var selectedYear = Model.UpdatedYear;
    var selectedTheme = Model.Theme;
}

@using (Html.BeginForm("UpdateConfig", "Config", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.UpdatedYear, "Select a year context")
        @Html.DropDownListFor(x => x.UpdatedYear, Model.Years.Select(x => new SelectListItem {Text = x.ToString(), Value = x.ToString(), Selected = x == selectedYear}), new {@class = "form-control"})
    </div>

    <div class="form-group" ng-init="enableEmailTestMode = @Model.EmailTestMode.ToString().ToLower(); enableEmailTestMode_val = enableEmailTestMode">
        @Html.LabelFor(x => x.EmailTestMode)
        @Html.CheckBoxFor(x => x.EmailTestMode, new { @class = "form-control hidden", ng_model = "enableEmailTestMode_val" })
        <toggle class="pull-right" ng-model="enableEmailTestMode" on="Enable" off="Disable" onstyle="btn-primary" offstyle="btn-default" ng-change="enableEmailTestMode_val = enableEmailTestMode"></toggle>
    </div> 
    
    <div class="form-group" ng-init="enableEventFeature = @Model.EventFeature.ToString().ToLower(); enableEventFeature_val = enableEventFeature">
        @Html.LabelFor(x => x.EventFeature)
        @Html.CheckBoxFor(x => x.EventFeature, new { @class = "form-control hidden", ng_model = "enableEventFeature_val" })
        <toggle class="pull-right" ng-model="enableEventFeature" on="Enable" off="Disable" onstyle="btn-primary" offstyle="btn-default" ng-change="enableEventFeature_val = enableEventFeature"></toggle>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x => x.Theme)
        @Html.DropDownListFor(x => x.Theme, ApplicationConstants.Themes.Select(x => new SelectListItem {Text = x.Key, Value = x.Key, Selected = x.Key == selectedTheme}), new {@class = "form-control"})
    </div>
    
    <div class="form-group" style="margin: 1rem;">
        <button type="submit" class="btn btn-success">Save Configuration</button>
    </div>
}