@model IEnumerable<Models.Driver>

@{
    ViewBag.Title = "Drivers";
    Layout = "_Layout";
}

<div class="container" ng-controller="driverListCtrl">
    <div class="page-header">
        <h3>List of Drivers (@Model.Count())</h3>
        
        <div class="clearfix">
            <button class="btn btn-default pull-right" ng-click="getAllDriversPDF()">Download PDF</button>
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>DisplayId</th>
                <th>Fullname</th>
                <th>Capacity</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Navigator</th>
                <th class="hidden-xs">Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var driver in Model)
        {
            <tr>
                <td>@driver.Id</td>
                <td>@driver.DisplayId</td>
                <td>@driver.Fullname</td>
                <td>@driver.Capacity</td>
                <td>@driver.Email</td>
                <td>@driver.Phone</td>
                <td>@driver.Navigator</td>
                <td class="hidden-xs">
                    <a href="~/Driver/delete/@driver.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
