@using API.Interfaces
@using Models.Enums
@model IEnumerable<Models.Entities.Host>
@inject IHttpRequestUtilityBuilder RequestUtilityBuilder;

@{
    ViewBag.Title = "Hosts";
    Layout = "_Layout";
    var userInfo = await RequestUtilityBuilder.For(Context).GetUserInfo();
}

<div class="container" ng-controller="hostListCtrl">
    <div class="page-header">
        <h3>List of Hosts <small>(Count: @Model.Count(), Students Assigned: @(Model.Select(x => x.Drivers.Capacity).Sum()))</small></h3>

        <div class="row">
            <div class="pull-right col-lg-3 col-md-4 col-sm-5 clearfix">
                <toggle ng-model="showDetail" on="Hide detail" off="Show detail" size="btn" onstyle="btn-success" offstyle="btn-danger" class="fast"></toggle>
                <button class="btn btn-default pull-right" ng-click="getAllHostPDF()">Download PDF</button>
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>
                Fullname
                <a href="?sortBy=fullname&descending=false">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
                <a href="?sortBy=fullname&descending=true">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </th>
            <th>
                Email
                <a href="?sortBy=email&descending=false">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
                <a href="?sortBy=email&descending=true">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </th>
            <th>Phone</th>
            <th>Address</th>
            @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
            {
                <th class="hidden-xs" ng-show="showDetail">Action</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var host in Model)
        {
            <tr>
                <td>@host.Fullname</td>
                <td>@host.Email</td>
                <td>@host.Phone</td>
                <td>@host.Address</td>
                @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
                {
                    <td class="hidden-xs" ng-show="showDetail">
                        <div class="btn-group-vertical btn-group-sm">
                            <a href="~/Host/edit/@host.Id" class="btn btn-primary">Edit</a>
                            <a href="~/Host/delete/@host.Id" class="btn btn-danger" validate-before-going data-message="Are you sure to delete this host (@(host.Fullname))?">Delete</a>
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>

</div>