@using System.Text.RegularExpressions
@using API.Interfaces
@using Models.Enums
@model IEnumerable<Models.Entities.Student>
@inject IHttpRequestUtilityBuilder RequestUtilityBuilder;

@{
    ViewBag.Title = "Students";
    Layout = "_Layout";
    var userInfo = await RequestUtilityBuilder.For(Context).GetUserInfo();

    var(studentsCnt, passengersCnt) = (Model.Count(), Model.Select(x => x.FamilySize).DefaultIfEmpty(0).Sum());
    var numChildSeats = Model.Count(x => x.NeedCarSeat);
    var countFamilies = Model.Count(x => x.IsFamily);
}

<div class="container" ng-controller="studentListCtrl">
<div class="page-header">
    <h3>List of Students <small>(Count: @(studentsCnt) + @(passengersCnt) = @(studentsCnt + passengersCnt), Child Seats: @(numChildSeats), Families: @(countFamilies))</small></h3>

    <div class="row">
        <div class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8 col-lg-3 col-lg-offset-9">
            <div class="pull-right">
                <toggle ng-model="showDetail" ng-change="toggleShowDetail(showDetail)" on="Hide detail" off="Show detail" size="btn" onstyle="btn-success" offstyle="btn-danger" toggle-class="quick" class="margin-right-md"></toggle>
                @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
                {
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#downloadModal">Download</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th ng-show="showDetail">
                DisplayId
                <a href="?sortBy=displayId&descending=false">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
                <a href="?sortBy=displayId&descending=true">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </th>
            <th>
                Fullname
                <a href="?sortBy=fullname&descending=false">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
                <a href="?sortBy=fullname&descending=true">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </th>
            <th>
                Country
                <a href="?sortBy=country&descending=false">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
                <a href="?sortBy=country&descending=true">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </th>
            <th ng-show="showDetail">
                University
                <a href="?sortBy=university&descending=false">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
                <a href="?sortBy=university&descending=true">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </th>
            <th ng-show="showDetail">
                Major
                <a href="?sortBy=major&descending=false">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
                <a href="?sortBy=major&descending=true">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </th>
            <th ng-show="showDetail">Interest</th>
            <th>
                IsFamily
                <a href="?sortBy=familySize&descending=false">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
                <a href="?sortBy=familySize&descending=true">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </th>
            <th ng-show="showDetail">Email</th>
            <th ng-show="showDetail">Phone</th>
            <th>
                Kosher
                <a href="?sortBy=kosherFood&descending=false">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
                <a href="?sortBy=kosherFood&descending=true">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </a>
            </th>
            <th class="hidden-xs" ng-show="showDetail">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model)
        {
            var possiblyDuplicateRegistration = Model.Where(x => x.Id != student.Id)
                .Select(x => Regex.Split(x.Fullname.ToLower(), @"\s+").Intersect(Regex.Split(student.Fullname.ToLower(), @"\s+")))
                .Select(x => x.Where(y => !string.IsNullOrWhiteSpace(y)))
                .Any(x => x.Count() > 1);

            var possiblyDuplicateDisplayId = Model.Any(x => x.Id != student.Id
                                                            && x.DisplayId.Equals(student.DisplayId, StringComparison.OrdinalIgnoreCase));


            <tr class="@(possiblyDuplicateDisplayId ? "danger" : possiblyDuplicateRegistration ? "warning" : "")">
                <td ng-show="showDetail">@student.DisplayId</td>
                <td>@student.Fullname</td>
                <td>@student.Country</td>
                <td ng-show="showDetail">@student.University</td>
                <td ng-show="showDetail">@student.Major</td>
                <td ng-show="showDetail">@student.Interests</td>
                <td>@student.IsFamily @(student.IsFamily ? $"({student.FamilySize})" : string.Empty)</td>
                <td ng-show="showDetail">@student.Email</td>
                <td ng-show="showDetail">@student.Phone</td>
                <td>@student.KosherFood</td>
                <td class="hidden-xs" ng-show="showDetail">
                    <div class="btn-group-vertical btn-group-sm">

                        <a href="~/Student/edit/@student.Id" class="btn btn-primary">Edit</a>

                        @if (userInfo.UserRoleEnum == UserRoleEnum.Admin)
                        {
                            <a href="~/Student/delete/@student.Id" class="btn btn-danger" validate-before-going data-message="Are you sure to delete this student (@(student.Fullname))?">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<!-- Modal to select columns for PDF -->
<div id="downloadModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Student Download</h4>
            </div>
            <div class="modal-body">
                <div class="checkbox">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['id']"> Id
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['displayId']"> DisplayId
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['fullname']" ng-disabled="true"> Fullname
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['major']"> Major
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['university']"> University
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['email']"> Email
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['phone']"> Phone
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['country']"> Country
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['isFamily']"> isFamily
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['familySize']"> FamilySize
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['needCarSeat']"> NeedCarSeat
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['kosherFood']"> KosherFood
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['isPresent']"> IsPresent
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="downloadTable['maskPreferred']"> MaskPreferred
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="getAllStudentsPDF()">Download PDF</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="getAllStudentsCSV()">Download CSV</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</div>