@model IEnumerable<Models.Entities.Student>

@{
    ViewBag.Title = "Students";
    Layout = "_Layout";
}

<div class="container" ng-controller="studentListCtrl">
    <div class="page-header">
        <h3>List of Students (@Model.Count())</h3>
        
        <div class="row">
            <div class="pull-right col-md-3 col-sm-5 clearfix">
                <toggle ng-model="showDetail" ng-change="toggleShowDetail(showDetail)" on="Hide detail" off="Show detail" size="btn" onstyle="btn-success" offstyle="btn-danger" class="fast"></toggle>
                <button class="btn btn-default pull-right" ng-click="getAllStudentsPDF()">Download PDF</button>
            </div>
        </div>
    </div>
    
    <div class="table-responsive"> 
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Country</th>
                    <th>University</th>
                    <th>Major</th>
                    <th ng-show="showDetail">Interest</th>
                    <th ng-show="showDetail">IsFamily</th>
                    <th ng-show="showDetail">Email</th>
                    <th ng-show="showDetail">Phone</th>
                    <th>Kosher</th>
                    <th class="hidden-xs" ng-show="showDetail">Action</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Fullname</td>
                    <td>@student.Country</td>
                    <td>@student.University</td>
                    <td>@student.Major</td>
                    <td ng-show="showDetail">@student.Interests</td>
                    <td ng-show="showDetail">@student.IsFamily @(student.IsFamily ? $"({student.FamilySize})" : string.Empty)</td>
                    <td ng-show="showDetail">@student.Email</td>
                    <td ng-show="showDetail">@student.Phone</td>
                    <td>@student.KosherFood</td>
                    <td class="hidden-xs" ng-show="showDetail">
                        <a href="~/Student/delete/@student.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
